.element__delete-button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-image: url(../../../image/Group.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 18px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    /* z-index: 5; */
    cursor: pointer;
  }
  
  .element__delete-button:hover {
    opacity: .6;
  }