.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    padding-bottom: 13px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    padding-bottom: 13px;
    margin-bottom: 30px;
  }
  
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }

  