.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 0;
  background: url(../../../image/Vectorbutton.svg) no-repeat;
  background-position: center;
  border: 2px solid #FFFFFF;
  border-radius: 2px;

}


.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}


@media screen and (max-width: 425px) {
  .profile__add-button {
    width: 282px;

  }
}