.popup__button-inactive
 /*opacity: 0.3;
 border: 1px solid #000000;
  border-radius: 2px;
  color: #000;
  background-color: #fff;
  pointer-events: none;
}*/
{
    color: #000000;
    border: 1px solid #000000;
    background: #FFFFFF;
    cursor: auto;
    opacity: 0.3;
    transition: opacity .5s linear;
}

.popup__save_disabled:hover {
    opacity: 0.3;
  }