.popup__title {
  font-style: normal;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  padding-top: 33px;
  padding-bottom: 44px;
}

@media screen and (max-width:475px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
  }
}